/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                     Reset                    */
/*~ ------------------------------------------ ~*/

:root {
	/* Primary colors */
	--primary-color: hsl(14, 45%, 36%);
	--secondary-color: hsl(332, 51%, 32%);

	/* Palette */
	--color-rose_white: hsl(330, 100%, 98%);
	--color-eggshell: hsl(30, 54%, 90%);
	--color-light_grey: hsl(30, 18%, 87%);
	--color-wenge_brown: hsl(30, 10%, 34%);
	--color-dark_charcoal: hsl(24, 5%, 18%);
}


/* *********************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* *********************************** */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/